body{
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;

}

div{
	
   }
 h1{ 
	margin:50px auto 0 auto;
	font-family: 'Sacramento', cursive;
	font-size: 5.625rem;
	
  }

  h2{
font-family: 'Montserrat', sans-serif;
   font size: 2.5rem;
 
  }

  h3{
font-family: 'Montserrat', sans-serif;
   
    color: #11999E;

  }
.b{
	font-family: 'Montserrat', sans-serif;
   
    color: #11999E;
    font-size: 3rem;
 
}

.top{
	background-color: rgb(190,255,255) ;/*#74f9ff;*/
	position: relative;
	padding-top: 100px;
	
}

.bot-cloud{
	position: absolute;
	bottom: 300px;
	left:340px;
}
.top-cloud{
	position: absolute;
	right: 340px;
	top: 50px;
}

.middle {
	margin-top: 50px; 
	text-decoration-color: #40514E;
	
}
.bot {
	background-color:rgb(0,255,255);
	margin: 0px;
	padding: 20px;
	
	

}

.img1{
	 border-radius: 100%;
	 width: 250px;
	 height: 250px;

}
.footer-link{
	color: #11999E;
	padding:0 5px 0 5px;
	text-decoration: none;

}

a:hover{
	color:white;
}
.profile{
	line-height: 2;
}
 
.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
} 
.img2{
	width: 25%;
	float: left;
	margin: 30px;
}
.img3{
	width: 25%;
	float: right;
	margin: 30px;
}
.skills{
	padding: 20px;
}
.k{
	font-size: 10px;
}

.contact-me{
	padding: 10px;
}
hr{ 
	
	border-style: none;
	border-top-style: dotted;
	border-width: 5px;
	width: 5%;
}
.btn {
	margin: 20px auto;
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   font-weight: 100;
   padding: 10px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.end{
	font-size: 12px;
	color: white;
	
}

